MySimpayBot/Service References/JobLocalSPC/Core.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://jobservice.simpay.ir/webservices/Core.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/JobService" />
  <xs:element name="ReportJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/JobService" minOccurs="0" name="ws" nillable="true" type="q1:WebServiceReportJobInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/JobService" minOccurs="0" name="ReportJobResult" nillable="true" type="q2:WebServiceReportJobOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/JobService" minOccurs="0" name="ws" nillable="true" type="q3:WebServiceReportResultInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/JobService" minOccurs="0" name="ReportResultResult" nillable="true" type="q4:WebServiceReportResultOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>