MySimpayBot/Service References/JobManagementService/Core.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Core" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://jobmanagement.acx.ir/webservices/Core.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://jobmanagement.acx.ir/webservices/Core.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://jobmanagement.acx.ir/webservices/Core.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/JobService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICore_ReportJob_InputMessage">
    <wsdl:part name="parameters" element="tns:ReportJob" />
  </wsdl:message>
  <wsdl:message name="ICore_ReportJob_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReportJobResponse" />
  </wsdl:message>
  <wsdl:message name="ICore_ReportResult_InputMessage">
    <wsdl:part name="parameters" element="tns:ReportResult" />
  </wsdl:message>
  <wsdl:message name="ICore_ReportResult_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReportResultResponse" />
  </wsdl:message>
  <wsdl:portType name="ICore">
    <wsdl:operation name="ReportJob">
      <wsdl:input wsaw:Action="http://tempuri.org/ICore/ReportJob" message="tns:ICore_ReportJob_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICore/ReportJobResponse" message="tns:ICore_ReportJob_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReportResult">
      <wsdl:input wsaw:Action="http://tempuri.org/ICore/ReportResult" message="tns:ICore_ReportResult_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICore/ReportResultResponse" message="tns:ICore_ReportResult_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Soap" type="tns:ICore">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReportJob">
      <soap:operation soapAction="http://tempuri.org/ICore/ReportJob" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportResult">
      <soap:operation soapAction="http://tempuri.org/ICore/ReportResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Core">
    <wsdl:port name="Soap" binding="tns:Soap">
      <soap:address location="http://jobmanagement.acx.ir/webservices/Core.svc/soap" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>